<div class="collapsible-title" role="button" {{action "toggleCollapsed" on="click"}}>
  <span class="collapsible-caret">►</span>
  {{title}}
</div>

<BsCollapse @collapsed={{isCollapsed}}>
  <div class="collapsible-content">
    {{yield}}
  </div>
</BsCollapse>
