html,
body {
  margin: 0;
}

body {
  font-size: 0.9rem;
}

nav {
  padding: 0;
  background-color: #eee;
  color: #555;

  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.nav-project,
.nav-branch,
.nav-providers {
  padding: 0.5rem;
  flex-grow: 1;
}

.provider-icon {
  max-height: 1rem;
}

.collapsible.expanded {
  margin-bottom: 0.5rem;
}

.collapsible-title {
  background-color: #eee;
  color: #555;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.25s;
}

.collapsible-caret {
  display: inline-block;
  margin: 0 0.5rem;
  transition: all 0.25s;
}

.collapsible-content {
  margin: 0 0.5rem;
}

.collapsible.expanded .collapsible-caret {
  transform: rotate(90deg);
}

.collapsible.expanded .collapsible-title {
  margin-bottom: 0.5rem;
}

.graph-controls {
  margin: 0 1rem;
}

input.form-control {
  font-size: 0.9rem;
  padding: 0 0 0 8px;
  height: initial;
  min-height: 2em;
}
