html,
body {
  margin: 0;
}

body {
  font-size: 0.9rem;
}

h1 {
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-variant: small-caps;
  background-color: #333;
  color: #ddd;
}

h1 img {
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

nav {
  margin: 0 0 1rem 0;
  padding: 0;
  background-color: #555;
  color: #ddd;

  display: flex;
  flex-flow: row nowrap;
}

nav .ember-power-select-trigger {
  color: initial;
}

nav a:link,
nav a:visited,
nav a:active {
  color: #fd3;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.nav-project,
.nav-branch,
.nav-providers {
  padding: 1rem;
  flex-grow: 1;
}

.provider-icon {
  max-height: 1rem;
}

.provider:before {
  content: 'â—';
  color: #f33;
}

.provider.provider-connected:before {
  color: #3f3;
}

.main {
  margin: 1rem;
}

.accordion > .card > .card-header {
  padding: 0;
}

input.form-control {
  font-size: 0.9rem;
  padding: 0 0 0 8px;
  height: initial;
  min-height: 2em;
}
